---
// @ts-ignore
import { Picture, Image } from "astro:assets";
import Card from "@components/card.astro";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
---

<div class="mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Unleash the power of <span class="text-indigo-600">commercial flooring</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    JMB Floors, your trusted partner for high-quality flooring solutions in London.
  </p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" color="purple">
    <Fragment slot="image">
      <Picture
        src={FeatureImgOne}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Vinyl Cap and Cove</span>
    <span slot="title">Durable Flooring</span>
    <span slot="desc">
      Expert installation of durable and easy-to-clean vinyl flooring.
    </span>
  </Card>
  <Card class="lg:col-span-2" color="indigo">
    <Fragment slot="image">
      <Picture
        src={FeatureImgTwo}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Flat Lay LVT</span>
    <span slot="title">Stylish Functionality</span>
    <span slot="desc">
      High-quality luxury vinyl tile flooring that combines style and functionality.
    </span>
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
  <Card color="indigo" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgThree}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Carpet Tile</span>
    <span slot="title">Versatile Style</span>
    <span slot="desc">
      Versatile and stylish carpet tiles, ideal for offices and commercial spaces.
    </span>
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgTwo}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Hygienic Wall Cladding</span>
    <span slot="title">Hygiene and Durability</span>
    <span slot="desc">
      State-of-the-art wall cladding solutions that ensure hygiene and durability.
    </span>
  </Card>

  <Card size="sm">
    <Fragment slot="image">
      <!-- // svg image. cannot use <picture/> as of now -->
      <Image
        src={IntegrationImg}
        alt="Feature image"
        width="909"
        height="823"
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Latex Floor</span>
    <span slot="title">Resilient Solutions</span>
    <span slot="desc">
      Seamless and resilient latex flooring options for a variety of commercial applications.
    </span>
  </Card>
</div>
