---
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";

// Make sure to install the font package before importing
import "@fontsource-variable/inter/index.css";

export interface Props {
  title?: string;
  footerMargin?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, footerMargin = true } = Astro.props;

const makeTitle = title
  ? `${title} | JMB Floors`
  : "JMB Floors - Flooring Solutions for Every Space";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
  title={makeTitle}
  description="JMB Floors provides professional flooring solutions across the UK, ensuring quality and customer satisfaction."
  canonical={canonicalURL}
  twitter={{
    creator: "@jmbfloors",
    site: "@jmbfloors",
    card: "summary_large_image",
  }}
/>

  
    <style is:global>
      /* Global styles */
    </style>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer margin={footerMargin} />
  </body>
</html>
